[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
microsteps: 32
rotation_distance: 5
endstop_pin: !P1.29
position_endstop: 0
position_max : 1500
homing_speed: 50
homing_retract_dist: 50

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
microsteps: 32
rotation_distance: 4.7
endstop_pin: !P1.28
position_endstop: 0
position_max : 500
homing_speed: 30
homing_retract_dist: 50


[stepper_z]
homing_retract_dist: 5
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 4
rotation_distance: 0.1
endstop_pin: !P1.27
position_endstop: 0.0
position_max: 600
homing_speed : 1

[extruder]
max_extrude_cross_section: 100000000
min_extrude_temp: -200

step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 8
rotation_distance: 33.5
nozzle_diameter: 20
filament_diameter: 40
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: -200
max_temp: 260

max_extrude_only_distance: 9999999


[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_1FD0FF0E871C4AAFCF3C7C5DC72000F5-if00

[printer]
kinematics: cartesian
max_velocity: 50
max_accel: 10
max_z_velocity: 1

max_z_accel: 1





[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.














